@model IEnumerable<Category>
<div class="my-3">
	<ul class="list-group my-3">
		@foreach (var item in Model)
		{
			<li class="list-group-item">
				<a asp-action="Index" asp-route-categoryId ="@item.CategoryId">@item.CategoryName</a>
			</li>
		}
	</ul>
</div>
