
@{
    Layout = null;
}
@model Product

<div>
    <h3>@Model.ProductName</h3>
    <p>@Model.Price</p>
    <a href="/Product">Products</a>
</div>
@section Header{
    <div>
        Header for only Get
    </div>
}