@model IQueryable<Product>
@*
@section Footer{
<div>
Only for Index Footer
</div>
} *@
<div class="row my-3">
    @foreach (var product in Model)
    {
    
        <partial name="_ProductCard" model="@product" />
    
    }
</div>