@page

<div class="text-center my-5">
	<div class="display-6 border-bottom">Contact</div>
	<div class="lead mt-5">
		<i class="fa fa-phone bg-secondary text-white rounded-5 p-3 my-3"></i>
		<p>
			500
		</p>
		<i class="fa-solid fa-location-dot bg-secondary text-white rounded-5 p-3 my-3"></i>
		<p>
			500
		</p>
		<i class="fa fa-envelope bg-secondary text-white rounded-5 p-3 my-3"></i>
		<p>
			destek@gmail.com
		</p>
	</div>
</div>