@page

@model StoreApp.Pages.ContactModel
@{
}

<div class="text-center border my-3 rounded">
	<div class="display-6">Contact</div>
	<div class="lead">
		<i class="fa fa-phone text-primary my-3"></i>
		<p>
			500
		</p>
		<i class="fa fa-location-dot text-primary my-3"></i>
		<p>
			500
		</p>
		<i class="fa fa-envelope text-primary my-3"></i>
		<p>
			destek@gmail.com
		</p>
	</div>
</div>